:root {
  font-size: 18px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@keyframes show {
  0% {
    transform: translateY(-200%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes close {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-200%);
  }
}

body {
  user-select: none;
  font-family: 'Fredoka One', cursive;
}

.container {
  width: 80rem;
  margin: 0 auto;
}

.bayan__wrapper {}

.bayan__item {
  border-radius: 0.625rem;
  margin-bottom: 0.625rem;
  color: #000;
  overflow: hidden;
}

.bayan__item input {
  display: none;
}

.bayan__content {
  height: 25rem;
  display: none;
  justify-content: center;
  align-items: center;
  animation: close 0.3s;
  background-color: blanchedalmond;
  padding: 0.625rem 0.9375rem;
  transition: 0.5s;
}

.bayan__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0.9375rem;
  background-color: blanchedalmond;
  transition: 0.5s;
}

.bayan__item input:checked+.bayan__title {
  background: black;
  transition: 0.5s;
  color: #fff;
}

.bayan__item input:checked~.bayan__content {
  display: flex;
  animation: show 0.3s;
  transition: 0.3s;
}

.bayan__image {
  width: auto;
  height: 100%;
}

.bayan_checkbox {
  transition: 0.7s;
}

@media (hover:hover) {

  .container:hover,
  .bayan__title:hover {
    cursor: pointer;
  }

  .container:hover .bayan__title::after {
    content: '+';
  }

  .container:hover .bayan__item input:checked+.bayan__title::after {
    content: '-';
  }

  .bayan__title:hover {
    background: rgba(153, 0, 0, 0.445);
  }

  .bayan__item input:checked+.bayan__title:hover {
    background-color: rgba(54, 0, 0, 0.815);
    transition: 0.3s;
    color: #fff;
  }

  .bayan__content:hover {
    background-color: rgba(255, 123, 0, 0.301);
    transition: 0.5s;
    color: #fff;
  }

  .bayan__content:hover .bayan__title {
    background-color: rgba(54, 0, 0, 0.815);
    transition: 0.3s;
    color: #fff;
  }
}

@media (max-width: 1440px) {
  :root {
    font-size: 15px;
  }

  .container {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .container {
    width: 90%;
  }

  .bayan__main-title {
    font-size: 1.5rem;
  }

  .bayan__title {
    font-size: 0.7rem;
  }

  .bayan__content {
    height: 16rem;
  }
}